<div class="access-inner">
    <div class="access-content text-center">
        
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h1>Productos</h1>
                <p class="iconito">
                    <i class="icon-barcode"></i>
                </p>
                <button class="btn btn-lg btn-outline" ruta="productos" ng-click="panel()">Ir</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h1>Clientes</h1>
                <p class="iconito">
                    <i class="icon-users"></i>
                </p>
                <button class="btn btn-lg btn-outline" ruta="clientes" ng-click="panel()">Ir</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h1>Provedores</h1>
                <p class="iconito">
                    <i class="icon-truck"></i>
                </p>
                <button class="btn btn-lg btn-outline" ruta="provedores" ng-click="panel()">Ir</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h1>Notas</h1>
                <p class="iconito">
                    <i class="icon-notebook"></i>
                </p>
                <button class="btn btn-lg btn-outline" ruta="notas" ng-click="panel()">Ir</button>
            </div>
        </div>

        
        <button class="btn btn-lg btn-outline last" ng-click="panel()">Cerrar</button>

    </div>
</div>