<!-- mp-menu -->
<aside>
	<ul class="sidebar">
        <li class="sidebar-main">
          <a href="">
	            Menú
	            <span ng-hide="offcanvas" ng-click="$parent.cierra = !$parent.cierra" class="menu-icon icon-tab"></span>
              <span ng-show="offcanvas" ng-click="$parent.cambia()" class="menu-icon icon-arrow-left2"></span>
	        </a>
        </li>
        <li class="sidebar-list">
          	<a href="home">Inicio <span class="menu-icon icon-home4"></span></a>
        </li>
        <li class="sidebar-title"><span>Catalogos</span></li>
        <li class="sidebar-list">
          <a href="categorias">Categorias<span class="menu-icon icon-windows2"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="provedores">Proveedores <span class="menu-icon icon-truck"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="clientes">Clientes <span class="menu-icon icon-users"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="productos">Productos <span class="menu-icon icon-barcode"></span></a>
        </li>
        <li class="sidebar-title"><span>Estadisticos</span></li>
        <li class="sidebar-list">
          <a href="home">Ventas <span class="menu-icon icon-creditcard"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="home">Inventario <span class="menu-icon icon-signup"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="home">Reportes <span class="menu-icon icon-stats"></span></a>
        </li>
        <li class="sidebar-title"><span>Operacion</span></li>
        <li class="sidebar-list">
          <a href="home">Facturación <span class="menu-icon icon-coin"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="home">Inventario <span class="menu-icon icon-numbered-list"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="home">Descuentos <span class="menu-icon icon-banknote"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="home">Notas <span class="menu-icon icon-notebook"></span></a>
        </li>
        <li class="sidebar-title"><span>Administrador</span></li>
        <li class="sidebar-list">
          <a href="home">Altas/Bajas <span class="menu-icon icon-data"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-6">
          <a href="home" target="_blank">
            Acerca de..
          </a>
        </div>
        <div class="col-xs-6">
          <a href="home">
            Soporte
          </a>
        </div>
      </div>
</aside>